/* Reset and base styles  */
* {
	padding: 0px;
	margin: 0px;
}

*,
*::before,
*::after {
	box-sizing: border-box;
}


/* Links */

a, a:link, a:visited  {
    text-decoration: none;
	 color: inherit;
}

a:hover  {
    text-decoration: none;
    color: inherit;
}

/* Common */

aside, nav, footer, header, section, main {
	display: block;
}

ul, ul li {
	list-style: none;
}

img {
	vertical-align: top;
}

img, svg {
	max-width: 100%;
	height: auto;
}

address {
  font-style: normal;
}

/* Form */

input, textarea, button, select {
	font-family: inherit;
   font-size: inherit;
   color: inherit;
   background-color: transparent;
	border: none;
}

*:focus {
  outline: none;
}


input::-ms-clear {
	display: none;
}

button, input[type="submit"], input[type="reset"] {
	background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}

input:focus, input:active,
button:focus, button:active {
    outline: none;
}

button::-moz-focus-inner {
	padding: 0;
	border: 0;
}

label {
	cursor: pointer;
}

legend {
	display: block;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

select {
	appearance: none;
	background-color: transparent;
	border: none;
	padding: 0 1em 0 0;
	margin: 0;
	width: 100%;
	font-family: inherit;
	font-size: inherit;
	cursor: inherit;
	line-height: inherit;
 }
